* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(https://images3.alphacoders.com/827/827361.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 50vh;
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3vh;
}

#button {
    background-color: transparent;
    border: none;
    font-size: 5vh;
    border-bottom: 3px solid black;
}

#button:hover {
    border-bottom: 3px solid rgb(23, 63, 66);
    color: rgb(23, 63, 66);
    transition: 0.1s;
    cursor: pointer;
}